.closeButton {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modalWindow{
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 30%;
    left: 10%;
    right: 10%;
    max-width: 720px;
    background-color: rgba(28, 28, 33, 1);
    border-radius: 10%;
}

@media screen and (min-width: 1250px) {
    .modalWindow{
        left: 30%;
        right: 30%;
    }
}